* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: aliceblue;
}

body {
  font-family: 'Open Sans', sans-serif;
}

body .parent_1 .child_1 {
  display: flex;
  justify-content:space-between;
  box-shadow: 5px 5px 5px rgba( 1, 1, 1, 0.05);
  position: sticky;
}

body .parent_1 .child_1 .logo { 
  padding-left: 0.5rem;
  width: 10rem;
}

body .parent_1 .child_1 .menu {
  padding: 1rem;
}

.material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48;
}

body .parent_2 {
  padding: 1rem;
  display: flex;
}

body .parent_2 .food {
  padding-top: 1rem;
  height: 100%;
}

body .parent_2 .text {
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 0.7rem;
}

body .parent_2 .text p {
  background-color: chartreuse;
  display: inline;
  height: 100%;
  padding: 0.1rem;
  font-size: 0.5rem;
}

body .parent_2 .text h3 {
  font-size: 1.1rem;
}

body .parent_2 .text #button {
  opacity: 0.8;
  margin-top: 0.3rem;
  font-size: 0.4rem;
  padding: 0.2rem;
  border: 0.1rem solid darkorange;
  background-color: darkorange;
  transition-duration: 500ms;
  display: flex;
  justify-content: left;
}

body .parent_2 .text #button:hover {
  opacity: 0.7;
  transition-duration: 500ms;
}

body .parent_3 .child_3 .options {
  display: flex;
  border-radius: 2rem;
  border: 3px solid rgb(196, 182, 182);
  margin: 1rem;
  width: 96%;
}

body .parent_3 .child_3 .options .img {
  height: 100%;
  padding: 1rem;
}

body .parent_3 .child_3 .options .lorem {
  font-size: 0.7rem;
  padding-top: 2rem;
  
}

body .parent_3 .child_3 .options .lorem h5 {
  font-size: 0.8rem;
}

body .parent_3 .child_3 .options:hover{
  box-shadow: 0px 1px 10px gray;
  transition-duration: 500ms;
}

body .parent_4 {
  text-align: center;
  padding-top: 2rem;
}

body .parent_4 h5 {
  background-color: forestgreen;
  display: inline;
  padding: 0.3%;
  color: aliceblue;
}

body .parent_4 h4 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

body .parent_5 .menu .dishes {
  display: grid;
  grid-gap: 1%;
  padding: 0.5rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(2,1fr);
}

body .parent_5 .menu .dishes img {
  border-radius: 0.5rem;
  min-width: 11rem;
  max-height: 11rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 500ms;
}

body .parent_5 .menu .dishes img:nth-child(1){
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  object-fit:cover;
  min-height: 21rem;
  min-width: 22.7rem;
}

body .parent_5 .menu .dishes img:hover {
  transform: scale(1.02);
}

body .parent_6 .child_6 .list{
  background-color: rgb(180, 196, 240);
}

body .parent_6 .child_6 .logo_1 {
  display: flex;
  padding-top: 1rem;
  background-color: rgb(180, 196, 240);
  justify-content: center;
  padding-bottom: 1rem;
}
body .parent_6 .child_6 .logo_1 img {
  border-radius: 1rem;
}

body .parent_6 .child_6 .list {
  display: flex;
  background-color: rgb(180, 196, 240);
  justify-content: space-around;
  flex-wrap: wrap;
}

body .parent_6 .child_6 .list .items {
  padding: 1rem;
  background-color: rgb(180, 196, 240);
}

body .parent_6 .child_6 .list h6 {
  font-size: 1.3rem;
  background-color: rgb(180, 196, 240);
}

body .parent_6 .child_6 .list ul li {
  list-style: none;
  font-size: 0.7rem;
  background-color: rgb(180, 196, 240);
}

body .parent_6 .child_6 .list input {
  padding: 0.1rem;
  border-radius: 3px;
  padding-right: 1rem;
  background-color: blanchedalmond;
  border: 1px solid black;
}

@media(min-width:43.75em){
  body .parent_1 .child_1 .logo {
    width: 11rem;
  }

  .material-symbols-outlined {
    font-size: 2.5rem;
  }

  body .parent .food img {
    width: 25rem;
  }

  body .parent_2 .text {
    padding-top: 5rem;
    font-size: 1rem;
  }

  body .parent_2 .text p {
    font-size: 1.3rem;
    padding: 0.2rem;
  }

  body .parent_2 .text h3 {
    font-size: 2rem;
  }

  body .parent_2 .text #button {
    font-size: 1.2rem;
  }

  body .parent_3 .child_3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 3rem;
  }

  body .parent_3 .child_3 .options .lorem {
    font-size: 0.9rem;
  }

  body .parent_3 .child_3 .options .lorem h5 {
    font-size: 1.1rem;
  }

  body .parent_4 h5 {
    padding: 0.2rem;
    font-size: 1.2rem;
  }

  body .parent_4 h4 {
    font-size: 1.7rem;
  }

  body .parent_5 .menu .dishes {
    grid-gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  body .parent_5 .menu .dishes img:nth-child(1) {
    min-height: 30rem;
    min-width: 30rem;
  }

  body .parent_5 .menu .dishes img {
    min-width: 20rem;
    min-height: 20rem;
  }

  body .parent_5 .menu .dishes img {
    min-width: 20rem;
    min-height: 30rem;
  }

  body .parent_6 .child_6 .list h6 {
    font-size: 1.3rem;
  }
  
  body .parent_6 .child_6 .list ul li {
    font-size: 0.7rem;
    padding-bottom: 0.1rem;
  }
}
@media(min-width:62em){
  body .parent_1 .child_1 .logo {
    width: 12rem;
  }

  .material-symbols-outlined {
    font-size: 3rem;
  }

  body .parent .food img {
    width: 33rem;
  }

  body .parent_2 .text {
    padding-top: 9rem;
    font-size: 1.2rem;
  }

  body .parent_2 .text p {
    font-size: 1.7rem;
    padding: 0.2rem;
  }

  body .parent_2 .text h3 {
    font-size: 3rem;
  }

  body .parent_2 .text #button {
    font-size: 1.4rem;
  }

  body .parent_3 .child_3 {
    flex-direction: row;
    justify-content: space-around;
    padding-right: 3rem;
  }

  body .parent_3 .child_3 .options .lorem h5 {
    font-size: 1.2rem;
  }

  body .parent_4 h5 {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
/* parent 5 */
  body .parent_5 .menu .dishes {
    grid-gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  body .parent_5 .menu .dishes img:nth-child(1) {
    min-height: 29.5rem;
    min-width: 30rem;
    grid-column: 2/3;
  }

  body .parent_5 .menu .dishes img:nth-child(2) {
    grid-row: 1/3;
    min-height: 60rem;
  }

  body .parent_5 .menu .dishes img {
    min-width: 20rem;
    min-height: 30rem;
  }

  body .parent_6 .child_6 .list h6 {
    font-size: 1.4rem;
  }
  
  body .parent_6 .child_6 .list ul li {
    font-size: 0.8rem;
    padding-bottom: 0.1rem;
  }

}

@media(min-width:87em){
  body .parent_1 .child_1 .logo {
    width: 13rem;
  }

  .material-symbols-outlined {
    font-size: 3.2rem;
  }

  body .parent .food img {
    width: 47rem;
  }

  body .parent_2 .text {
    padding-top: 14rem;
    font-size: 1.2rem;
  }

  body .parent_2 .text p {
    font-size: 1.8rem;
    padding: 0.2rem;
  }

  body .parent_2 .text h3 {
    font-size: 3.1rem;
  }

  body .parent_2 .text #button {
    font-size: 1.5rem;
  }

  body .parent_3 .child_3 .options .lorem h5 {
    font-size: 1.3rem;
  }

  body .parent_4 h4 {
    font-size: 2rem;
  }

  body .parent_5 .menu .dishes {
    grid-gap: 0.6rem;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 0.5rem;
  }

  body .parent_5 .menu .dishes img:nth-child(1) {
    min-height: 25rem;
    min-width: 30rem;
    grid-column: 2/3;
  }

  body .parent_5 .menu .dishes img:nth-child(2) {
    grid-row: 1/3;
    min-height: 50rem;
  }

  body .parent_5 .menu .dishes img:nth-child(4) {
    min-height: 24.3rem;
  }

  body .parent_5 .menu .dishes img:nth-child(5) {
    grid-column: 2/2
  }

  body .parent_5 .menu .dishes img:nth-child(7) {
    min-height: 50rem;
    grid-column: 3/4;
    grid-row: 2/4;
  }

  body .parent_5 .menu .dishes img:nth-child(6) {
    grid-row: 3/3;
  }

  body .parent_5 .menu .dishes img {
    min-width: 10rem;
    min-height: 25rem;
  }

  body .parent_6 .child_6 .list h6 {
    font-size: 1.5rem;
  }
  
  body .parent_6 .child_6 .list ul li {
    font-size: 0.9rem;
    padding-bottom: 0.1rem;
  }

}